body
{
    background-color: #000000;
}
P
{
    color: #00e200;
    text-align: center;
}
h1
{
    color:  #00e200;
    text-align: center;
}
.container
{
	width: 100%;
	margin: 0 auto;
}
.container:after
{
	content: " ";
	display: block;
	clear: both;
}
tr td{
    color: #00e200;
}
header h1
{
	float: left;
	padding: 20px 1px;
	color:  #00e200;
    margin: 1%;
}
header ul
{
	float: right;
    padding: 20px 1px;
}
header ul li
{
	display: inline-block;
}
header ul li a
{
	padding: 30px 35px;
	display: inline-block;
}
a
{
	color: #00e200;
	text-decoration: none;
}